@import "tailwindcss";

:root {
  --background: #1e1e20;
  --foreground: #fafafa;

  /* BRAND */
  /* bg-green-600*/
  --brand: #2ea246;

  /* bg-green-700 */
  --brand-muted: #277f3b;


  /* Pie chart palette (ShadCN-style) */
  --chart-1: #9feeab;
  --chart-2: #306533;
  --chart-3: #3a803a;
  --chart-4: #48a344;
  --chart-5: #5ac558;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand: var(--brand);
  --color-brand-muted: var(--brand-muted);

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

option {
  color: var(--background);
  text-transform: capitalize;

}

option:hover {
  background-color: #306533;
}

@keyframes sweep {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.shimmer {
  background-image: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0) 70%);
  background-size: 200% 100%;
  animation: sweep 8s linear infinite;
}